@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --para-color: #939393;
    --main-heading: #ff8b00;
    --white: #ffffff;
    --black: #000000;
    --bg-color: #222;
    --btn-bg-color: #ff8b00;
    --hover-color: #fd7e14;
}

html {
    font-size: 62.5%;
}

h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--main-heading);
}

h3,
h4 {
    color: var(--white);
}

a {
    text-decoration: none;
}

p {
    font-size: 1.7rem;
    color: var(--para-color);
}

ul {
    list-style: none;
}

.section {
    padding: 10rem 8rem;
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
}

.section-heading {
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

header {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1; */
}

.logo {
    background: url(path/to/image.gif) 0 0 no-repeat;
    display: block;
    height: 50px;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999em;
    width: 50px;
}

header ul {
    display: flex;
    gap: 5rem;
}

.nav-link {
    font-size: large;
    color: var(--white);
    transition: all 0.5s linear;
}

.nav-link:hover {
    color: var(--hover-color);
}

.home-link {
    color: var(--main-heading);
}

.hero-section {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-heading {
    color: var(--white);
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 500;
    padding: 1rem 25rem;
    text-align: center;
}

.section-pera {
    color: var(--white);
    font-size: 2rem;
    padding: 0 33rem;
    text-align: center;
}

.btn {
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.5s linear;
}

.btn-primary {
    background-color: transparent;
    margin-top: 5rem;
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--black);
}

section {
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .heading {
    width: 30%;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

section .msg p {
    color: red;
}

section form {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section form div {
    width: 100%;
}

section form div label {
    font-size: 1.8rem;
}

section form div input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    outline: none;
}

section form div input[type="submit"] {
    background-color: #ff8b00;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.login_section h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.login_section p {
    color: red;
}

.login_section form {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_section form div {
    margin-top: 2rem;
}

body {
    background-image: url("./background-image.jpg");
}


/* ################ */

body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
}

@media (max-width: 980px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
    overflow: hidden;
}

.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
}

.box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
}

.box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
}

.box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
}

.box-form .right {
    padding: 40px;
    overflow: hidden;
}

@media (max-width: 980px) {
    .box-form .right {
        width: 100%;
    }
}

.box-form .right h5 {
    font-size: 6vmax;
    line-height: 0;
}

.box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
}

.box-form .right .inputs {
    overflow: hidden;
}

.box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}

.box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
}

.box-form .right button {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

label {
    display: block;
    position: relative;
    margin-left: 30px;
}

label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
}

label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
}

label:hover::before .text-checkbox {
    background: #70F570;
}

label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

label input[type="checkbox"] {
    display: none;
}